* text=auto !eol
WINBUILD-nibconv/nibconv.dsp eol=crlf
WINBUILD-nibread/nibread.dsp eol=crlf
WINBUILD-nibrepair/nibrepair.dsp eol=crlf
WINBUILD-nibscan/nibscan.dsp eol=crlf
WINBUILD-nibwrite/nibwrite.dsp eol=crlf
WSDK/Makefile -text
WSDK/bin2array.c -text
/ihs.c -text
/ihs.h -text
/lz.c -text
/lz.h -text
/nibtools_15x1_ihs.asm -text
/readme.txt -text
