/*.plg
/*Debug
/*Release
WINBUILD-nibconv/*.plg
WINBUILD-nibconv/*Debug
WINBUILD-nibconv/*Release
WINBUILD-nibconv/build*.err
WINBUILD-nibconv/build*.log
WINBUILD-nibconv/build*.wrn
WINBUILD-nibconv/obj*
WINBUILD-nibconv/objchk*
WINBUILD-nibconv/objfre*
WINBUILD-nibread/*.plg
WINBUILD-nibread/*Debug
WINBUILD-nibread/*Release
WINBUILD-nibread/build*.err
WINBUILD-nibread/build*.log
WINBUILD-nibread/build*.wrn
WINBUILD-nibread/obj*
WINBUILD-nibread/objchk*
WINBUILD-nibread/objfre*
/build*.err
/build*.log
/build*.wrn
/nibconv
/nibread
/nibrepair
/nibscan
/nibsrqtest
/nibtools
/nibtools*.bin
/nibtools*.inc
/nibtools_1541.a65
/nibtools_1571.a65
/nibwrite
/obj*
/objchk*
/objfre*
